<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Task">
    <test name="Test on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcases.TrialTestCase" />
        </classes>
    </test>
    <test name="Test on FireFox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testcases.TrialTestCase" />
        </classes>
    </test>
    <!--NOTE: Tests that using Internet Explorer browser may require manual configuration before executing-->
    <test name="Test on IE">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="testcases.TrialTestCase" />
        </classes>
    </test>
</suite>
